body {
    font-size: 28px;
    background-color: rgb(234, 255, 255);
}

img{
    max-width:100%;
	height:auto;
    border: 10px solid silver;
    box-sizing: border-box;
}
h3, h6{
    background-color: white;
    text-align: center;
}
h6{
    text-decoration: underline;
}
p {
    background-color: white;
    border: 5px solid silver;
    margin: 10px 50px 10px 50px;
    padding: 5px;
    display: inline-block;
}
p:hover {
background-color: silver;
}

